.activity-card {
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  width: 34rem;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, max-height 1s ease-in-out;
  column-gap: 1em;
  margin-bottom: 1rem;
}

@media (min-width: 501px) {
  .activity-card-body {
    margin-left: 3rem;
  }
}

@media (max-width: 500px) {
  .activity-card {
    width: 21rem;
  }

  .activity-time,
  .strava-link,
  .athlete-name {
    text-wrap: nowrap;
  }

  .athlete-name-container {
    margin-bottom: 1rem;
  }
}

.activity-card-content {
  width: 100%;
}

.activity-time,
.strava-link {
  font-size: smaller;
  font-weight: 300;
}

.activity-time {
  color: #737373;
}

.activity-name {
  font-weight: 600;
}

.activity-description {
  font-size: 0.9rem;
}

.page[data-bs-theme="dark"] .activity-card {
  background-color: #121417;
}

.page[data-bs-theme="light"] .activity-card {
  background-color: white;
}
