@if (Athlete is not null)
{
    <div class="athlete-card p-3 d-flex flex-row align-items-center flex-wrap">
        <div class="d-flex align-items-center flex-row column-gap-2 athlete-name me-auto">
            @if (Athlete.ImgUrl is not null)
            {
                <Avatar Url="@Athlete.ImgUrl" Size="30" />
            }
            <span>@Athlete.Name</span>
        </div>

        @if (IsFollowing)
        {
            <div class="unfollow-button" @onclick="() => FollowingStatusChanged.InvokeAsync()">
                <i class="bi bi-heart-fill" aria-hidden="true"></i>
                <span class="unfollow-button-text">
                    Following
                </span>
            </div>
        }
        else
        {
            <div class="follow-button" @onclick="() => FollowingStatusChanged.InvokeAsync()">
                <i class="bi bi-heart" aria-hidden="true"></i>
                <span class="follow-button-text">
                    Follow
                </span>
            </div>
        }
        
        @if (IsFollower)
        {
            <button class="btn btn-outline-danger" @onclick="() => RemoveFollower.InvokeAsync()">
                <i class="bi bi-trash" aria-hidden="true"></i>
                Remove follower
            </button>
        }
        else
        {
            <button class="btn">
                <i class="bi bi-trash" aria-hidden="true"></i>
                Remove follower
            </button>
        }

        <div class="d-flex flex-row align-items-center strava-link column-gap-1">
            <a target="_blank" href="https://www.strava.com/athletes/@Athlete.StravaId">View on Strava</a>
            <i class="bi pb-1 bi-box-arrow-up-right align-self-start" aria-hidden="true"></i>
        </div>

    </div>
}
