.athlete-card {
  display: flex;
  flex-direction: row;
  border-radius: .5rem;
  width: 44rem;
  max-width: 100%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s, max-height 1s ease-in-out;
  column-gap: 1em;
}

@media (max-width: 500px) {
  .athlete-card {
    min-width: 21rem;
  }

  .athlete-name {
    max-width: fit-content;
  }

  .strava-link {
    max-width: 4rem;
  }

  .unfollow-button,
  .follow-button {
    max-width: fit-content;
  }

  .unfollow-button-text,
  .unfollow-button-text-hover,
  .unfollow-button:hover::after,
  .follow-button-text {
    display: none !important;
  }
}

.athlete-name {
  max-width: 15rem;
}

.strava-link {
  font-size: smaller;
  font-weight: 300;
  max-width: 7rem;
}

.unfollow-button,
.follow-button {
  max-width: 8rem;
}

.page[data-bs-theme="dark"] .athlete-card {
  background-color: #121417;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page[data-bs-theme="light"] .athlete-card {
  background-color: white;
}

.bi-heart-fill,
.bi-heartbreak-fill {
  color: red;
}

.unfollow-button:hover,
.follow-button:hover {
  cursor: pointer;
}

.unfollow-button:hover .bi-heart-fill::before {
  content: "\F770";
}

.unfollow-button .unfollow-button-text-hover {
  display: none;
}

.unfollow-button:hover .unfollow-button-text {
  display: none;
}

.unfollow-button:hover .unfollow-button-text-hover {
  display: inline;
}

.follow-button:hover .bi-heart::before {
  content: "\F415";
}

.follow-button:hover .bi-heart {
  color: red;
}
