<div class="avatar">
    <img src="@($"/profile/{AthleteId}")" width="@Size" height="@Size" alt="avatar" />
</div>

@code {
    [Parameter] public int AthleteId { get; set; }
    [Parameter] public int Size { get; set; }
}
