.challenge-card {
    width: 18rem;
    height: fit-content;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #c1c1c1;
    transition: box-shadow .2s;
}

.page[data-bs-theme="dark"] .challenge-card {
    box-shadow: 0px 0px 5px -1px #666;
}

.challenge-card:hover {
    box-shadow: 1px 1px 8px 0px #c1c1c1;
}

.page[data-bs-theme="dark"] .challenge-card:hover {
    box-shadow: 1px 1px 8px 0px #666;
}

.challenge-title {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
