.dark-mode-switch {
  background-color: black;
  padding: 0.3rem;
  border-radius: 0.8rem;
  display: flex;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.dark-mode-switch.light {
  background-color: #dee2e6;
}

.active {
  color: #0c6dfd;
  background-color: white;
}

.active.light {
  background-color: white;
}

.active.dark {
  background-color: #222;
}

.inactive {
  color: #737373;
  background-color: transparent;
}

.dark-mode-switch button {
  border: none;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease, color 0.5s ease;
}
