<div class="joined-challenge-card d-flex flex-row mt-2 column-gap-2">
    <span class="challenge-title">@Title</span>
    <span class="challenge-placement">@Placement</span>
    <span class="challenge-score">@Score</span>
</div>
