<div class="icon-badge-container">
    <i class="bi bi-bell-fill me-2 icon-badge-icon me-2"></i>Notifications
    @if (NotificationStateService.UnreadCount is > 0 and < 10)
    {
        <div class="icon-badge">@NotificationStateService.UnreadCount</div>
    }
    @if (NotificationStateService.UnreadCount >=  10)
    {
        <div class="icon-badge">+</div>
    }
</div>
