.stats-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: .5rem;
  width: 26rem;
  max-width: 100%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  column-gap: 1em;
  padding: 1rem;
}

@media (max-width: 500px) {
  .stats-card {
    min-width: 21rem;
  }
}

.stats-card .stats-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page[data-bs-theme="dark"] .stats-card {
  background-color: #121417;
}

.page[data-bs-theme="light"] .stats-card {
  background-color: white;
}
