root = true

[*]
charset = utf-8
end_of_line = lf

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true

# Prefer explicit types unless apparent
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = false
csharp_style_var_elsewhere = false

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion

# Newline settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

csharp_style_namespace_declarations = file_scoped

csharp_prefer_braces = when_multiline

dotnet_style_prefer_conditional_expression_over_return = false

csharp_style_unused_value_assignment_preference = discard_variable:none

# IDE0008: Use explicit type instead of var
dotnet_diagnostic.IDE0008.severity = warning

# IDE0059: Unnecessary assignment to a value
dotnet_diagnostic.IDE0059.severity = warning

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = warning

# IDE0090: Simplify new expression
dotnet_diagnostic.IDE0090.severity = warning

# CA1012: Abstract types should not have public constructors
dotnet_diagnostic.CA1012.severity = warning

# CA1822: Make member static
dotnet_diagnostic.CA1822.severity = warning
