@page "/about"

<PageTitle>Tevling - About</PageTitle>

<h1 class="title mb-5">About</h1>

<h3 class="mb-3">Attribution</h3>
<p>
    Tevling is created with
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>, a
    .NET web framework. It uses the following 3rd party software:
    <ul>
        <li>
            <a href="https://docs.microsoft.com/ef/core/" target="_blank">Entity Framework Core</a>
            - <a href="https://github.com/dotnet/efcore/blob/main/LICENSE.txt" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://github.com/Blazored/LocalStorage" target="_blank">Blazored.LocalStorage</a>
            - <a href="https://github.com/Blazored/LocalStorage/blob/main/LICENSE" target="_blank">MIT license</a>
        </li>
        <li>
            <a href="https://github.com/erossini/BlazorAutocomplete" target="_blank">PSC.Blazor.Components.AutoComplete</a>
            - <a href="https://github.com/erossini/BlazorAutocomplete/blob/main/LICENSE" target="_blank">GNU GPLv3</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/arm-wrestling" title="arm wrestling icons">Arm wrestling icons created by Freepik - Flaticon</a>
        </li>
    </ul>
</p>

<h3 class="mb-3 mt-5">Strava integration</h3>
<p>
    Tevling uses Strava as identity provider. Authenticated users are stored with basic information in
    Tevling's database. All <em>public*</em> activities uploaded to Strava by authenticated users are
    automatically synced to Tevling where parts of the activity details are stored in Tevling's database.
    We only store enough data to be able to calculate a score for a given challenge.
</p>
<p>
    <em style="font-size: 0.85rem">* Public activities includes activities with visibility set to 'Everyone' and 'Followers'.</em>
</p>

<h3 class="mb-3 mt-5">Disclamer</h3>
<p>
    STRAVA is a registered trademark of Strava, Inc. Tevling has no association with Strava. Use of
    this app is at your own risk. We take no responsibility for data loss or inaccurate information.
</p>


<h3 class="mb-3 mt-5">License</h3>
<p>
    GNU GPLv3 or later. Source code is available on
    <a href="https://github.com/veloek/tevling">GitHub</a>.
</p>

<h3 class="mb-3 mt-5">Copyright</h3>
<Copyright />
