@page "/athletes"

<PageTitle>Tevling - Athletes</PageTitle>

<h1 class="title mb-5">Athletes</h1>

<label class="mb-5">
    <input class="form-check-input me-1" type="checkbox" @bind-value="ShowOnlyFollowing" />
    Show only following
</label>

<label class="mb-5">
    <input class="form-check-input me-1" type="checkbox" @bind-value="ShowOnlyFollowers" />
    Show only followers
</label>

<div class="athletes d-flex flex-column row-gap-3">
    @foreach (Athlete? athlete in AthleteList)
    {
        <AthleteCard Athlete="@athlete"
                     IsFollowing="@Athlete.IsFollowing(athlete.Id)"
                     FollowingStatusChanged="() => ToggleFollowing(athlete.Id)"
                     IsFollower="@Athlete.IsFollower(athlete.Id)"
                     RemoveFollower="() => RemoveFollower(athlete.Id)" />
    }
</div>

<InfiniteScrollingMarker LoadMore="LoadMore" HasMore="HasMore">
    <LoadingTemplate>Loading...</LoadingTemplate>
</InfiniteScrollingMarker>
