.title {
  letter-spacing: 0.2rem;
  font-variant: all-small-caps;
  font-size: xxx-large;
}

.strava-link {
  font-size: smaller;
  font-weight: 300;
}

.athlete-card {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  width: 34rem;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s, max-height 1s ease-in-out;
  column-gap: 1em;
}

.page[data-bs-theme="dark"] .athlete-card {
  background-color: #121417;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page[data-bs-theme="light"] .athlete-card {
  background-color: white;
}

.bi-heart-fill,
.bi-heartbreak-fill {
  color: red;
}

.unfollow-button:hover,
.follow-button:hover {
  cursor: pointer;
}

.unfollow-button:hover .bi-heart-fill::before {
  content: "\F770";
}

.unfollow-button:hover .unfollow-button-text {
  display: none;
}

.unfollow-button:hover::after {
  content: "Unfollow";
}

.follow-button:hover .bi-heart::before {
  content: "\F415";
}

.follow-button:hover .bi-heart {
  color: red;
}
