@page "/athletes"

<PageTitle>Tevling - Athletes</PageTitle>

<h1 class="title mb-5">Athletes</h1>

<label class="mb-5">
    <input class="form-check-input me-1" type="checkbox" @bind-value="ShowOnlyFollowing" />
    Show only following
</label>

<div class="athletes d-flex flex-column row-gap-3">
    @foreach (var athlete in AthleteList) {
        <div class="athlete-card p-3 d-flex flex-row align-items-center justify-content-between">
            <Avatar Url="@athlete.ImgUrl" Size="30" />
            <span class="athlete-name">@athlete.Name</span>
            
            @if(Athlete.IsFollowing(athlete.Id))
            {
                <div class="unfollow-button" @onclick="() => ToggleFollowing(athlete.Id)">
                    <i class="bi bi-heart-fill" aria-hidden="true" />
                    <span class="unfollow-button-text">
                        Following
                    </span>
                </div>
            } else {
                <div class="follow-button" @onclick="() => ToggleFollowing(athlete.Id)">
                    <i class="bi bi-heart" aria-hidden="true" />
                    <span class="follow-button-text">
                        Follow
                    </span>
                </div>
            }
            <div class="d-flex flex-row align-items-end strava-link column-gap-1" >
                <a target="_blank" href="https://www.strava.com/activities/@athlete.StravaId">View on Strava</a>
                <i class="bi pb-1 bi-box-arrow-up-right" aria-hidden="true" />
            </div>
        </div>
    }
</div>

<InfiniteScrollingMarker LoadMore="LoadMore" HasMore="HasMore">
    <LoadingTemplate>Loading...</LoadingTemplate>
</InfiniteScrollingMarker>
