@page "/challenges/create"
@inject IStringLocalizer<CreateChallenge> Loc

<PageTitle>Tevling - @Loc["CreateChallenge"]</PageTitle>

<h1 class="title mb-5">@Loc["CreateChallenge"]</h1>

<ChallengeForm SubmitLabel="@Loc["Create"]" CancelLabel="@Loc["Cancel"]" OnSubmitAsync="OnSubmit" OnCancelAsync="OnCancel" />
