@page "/challenges/create"

<PageTitle>Tevling - Challenge</PageTitle>

<h1 class="title mb-5">Create challenge</h1>

<ChallengeForm SubmitLabel="Create" OnSubmitAsync="OnSubmit" OnCancelAsync="OnCancel" />
