@page "/challenges/{id:int}/edit"

<PageTitle>Tevling - Challenge</PageTitle>

@if (Challenge != null)
{
    <h1>Edit challenge: @Challenge.Title</h1>

    <ChallengeForm EditChallenge="@Challenge" SubmitLabel="Edit" OnSubmitAsync="OnSubmit" OnCancelAsync="OnCancel" />
}
else
{
    <p class="error">404 - Challenge ID @Id not found.</p>
}
