@page "/Notifications"
@using Tevling.Model.Notification
<h3 class="title mb-5">Notifications</h3>

<div>
    @foreach (Notification notification in _notifications.OrderBy(n => n.Read is not null)
                  .ThenByDescending(n => n.Created))
    {
        @if (notification.Read is null)
        {
            <h3>@notification.Id</h3>
        }
        else
        {
            <h5>@notification.Id</h5>
        }
    }
</div>

