.title {
  letter-spacing: 0.2rem;
  font-variant: all-small-caps;
  font-size: xxx-large;
}

.member-since {
  font-size: smaller;
  font-weight: 300;
}

.profile-name {
  font-size: larger;
}

.profile-actions span,
.followers span,
.following span {
  font-weight: 300;
}

.profile-actions a,
button {
  width: fit-content;
}

.profile-info {
  margin-right: 13rem;
}

@media (max-width: 1500px) {
  .profile-info {
    margin-right: 3rem;
  }
}
