.public-profile-details {
  font-size: smaller;
  font-weight: 300;
}



.public-profile-name {
  font-size: larger;
}

.followers span,
.following span {
  font-weight: 300;
}

button {
  width: fit-content;
}

.public-profile-info {
  width: 100%;
  margin-top: 3rem;
}

.strava-link {
  margin-top: .5rem;
  font-size: smaller;
  font-weight: 300;
}

@media (max-width: 1500px) {
  .public-profile-info {
    margin-right: 3rem;
  }
}
