@page "/Statistics"
<PageTitle>Tevling - Statistics</PageTitle>

<h1 class="title mb-5">Statistics</h1>
<div class="d-flex flex-wrap p-2" >
    <canvas id="totalDistanceChart"></canvas>
</div>
<div class="d-flex flex-wrap p-2" >
    <canvas id="totalElevationChart"></canvas>
</div><div class="d-flex flex-wrap p-2" >
    <canvas id="totalTimeChart"></canvas>
</div>
<script src="Pages/Statistics.razor.js"></script>
