@page "/Statistics"
<PageTitle>Tevling - Statistics</PageTitle>

<h1 class="title mb-5">Statistics</h1>



<label>Months:</label>
<InputSelect @bind-Value="@_numberOfMonthsToReview" @oninput="DrawChart" class="mb-2">
    @for (int i = 1; i <= 36; i++)
    {
        <option value="@i">@i</option>
    }
</InputSelect>
<ButtonGroup
    Items="Enum.GetValues<ChallengeMeasurement>()"
    T="ChallengeMeasurement"
    @bind-SelectedItem="_measurement"
    OnButtonSelected="@DrawChart">
</ButtonGroup>

<div class="d-flex flex-wrap p-2">
    <canvas id="TheChart"></canvas>
</div>
