@page "/"
@page "/activities"

<PageTitle>Spur - Activities</PageTitle>

<h1>Activities</h1>

<label class="mb-2">
    <input class="form-check-input" type="checkbox" @bind-value="ShowOnlyMine" />
    Show only my activities
</label>

<ul class="list-group mb-2">
    @{
        int step = 0;
    }
    @foreach (Activity activity in ActivityList)
    {
        if (activity.Details.StartDate.IsSameDateUtc())
        {
            if (step == 0)
            {
                <li class="list-group-item">Today</li>
                step = 1;
            }
        }
        else if (activity.Details.StartDate.IsYesterdayUtc())
        {
            if (step <= 1)
            {
                <li class="list-group-item">Yesterday</li>
                step = 2;
            }
        }
        else if (activity.Details.StartDate.IsSameWeekStartingOnMondayUtc())
        {
            if (step <= 2)
            {
                <li class="list-group-item">This week</li>
                step = 3;
            }
        }
        else if (activity.Details.StartDate.IsLastWeekStartingOnMondayUtc())
        {
            if (step <= 3)
            {
                <li class="list-group-item">Last week</li>
                step = 4;
            }
        }
        else if (activity.Details.StartDate.IsSameMonthUtc())
        {
            if (step <= 4)
            {
                <li class="list-group-item">This month</li>
                step = 5;
            }
        }
        else if (activity.Details.StartDate.IsLastMonthUtc())
        {
            if (step <= 5)
            {
                <li class="list-group-item">Last month</li>
                step = 6;
            }
        }
        else if (activity.Details.StartDate.IsSameYearUtc())
        {
            if (step <= 6)
            {
                <li class="list-group-item">This year</li>
                step = 7;
            }
        }
        else if (step <= 7)
        {
            <li class="list-group-item">Older</li>
            step = 8;
        }

        <ActivityCard Activity="activity"></ActivityCard>
    }
</ul>

@if (ActivityList.Length == 0)
{
    <h4>Welcome!</h4>
    <p>
        There are no activities to see here yet.
        Go to your <a href="profile">profile</a> and import some activities from Strava and start
        following some <a href="athletes">athletes</a>.
    </p>
}

<InfiniteScrollingMarker LoadMore="LoadMore" HasMore="HasMore">
    <LoadingTemplate>Loading...</LoadingTemplate>
</InfiniteScrollingMarker>
