@page "/"
@page "/activities"

<PageTitle>Spur - Activities</PageTitle>

<h1>Activities</h1>

<ActivityFeed AthleteId="@Athlete.Id" />

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@code {
    private Athlete Athlete { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Athlete = await AuthenticationService.GetCurrentAthleteAsync();

        // Redirect from / to /activities making this the default page
        string relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        if (!relativePath.StartsWith("activities"))
        {
            NavigationManager.NavigateTo("activities", replace: true);
        }
    }
}
