@page "/"

<PageTitle>Spur - Activities</PageTitle>

<h1>Activities</h1>

<ActivityFeed AthleteId="@Athlete.Id" />

@inject IAuthenticationService AuthenticationService
@code {
    private Athlete Athlete { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Athlete = await AuthenticationService.GetCurrentAthleteAsync();
    }
}
