@page "/challenges"

<PageTitle>Spur - Challenges</PageTitle>

<h1>Challenges</h1>

<a class="btn btn-primary mb-2" href="challenges/create">Add challenge</a>

<div class="d-flex mb-2">
    <InputRadioGroup @bind-Value="ShowAllChallenges">
        <div class="form-check form-check-inline">
            <label>My challenges: <InputRadio Value="false" /></label>
        </div>
        <div class="form-check form-check-inline">
            <label>All challenges: <InputRadio Value="true" /></label>
        </div>
    </InputRadioGroup>
</div>

<div class="d-flex flex-wrap cg-3 rg-3 mb-3">
    @foreach (var challenge in ChallengeList)
    {
        <ChallengeCard AthleteId="@AthleteId" Challenge="@challenge" />
    }
</div>

<InfiniteScrollingMarker LoadMore="LoadMore" HasMore="HasMore">
    <LoadingTemplate>Loading...</LoadingTemplate>
</InfiniteScrollingMarker>
