@page "/"

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

<PageTitle>Spur</PageTitle>

<h1>Hello, @Athlete?.Name</h1>

<button class="button" @onclick="AddActivity">Add activity</button>

<ActivityFeed AthleteId="@Athlete?.Id" />

@inject AuthenticationStateProvider Auth
@inject IAthleteService AthleteService
@inject IActivityService ActivityService
@code {
    private Athlete? Athlete;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await Auth.GetAuthenticationStateAsync();

        string athleteIdStr = authenticationState.User.FindFirst(
            ClaimTypes.NameIdentifier)?.Value ?? string.Empty;

        if (int.TryParse(athleteIdStr, out int athleteId))
        {
            Athlete = await AthleteService.GetAthleteByIdAsync(athleteId);
        }
    }

    private Task AddActivity()
    {
        return ActivityService.CreateActivityAsync(Athlete!.StravaId, Random.Shared.Next(1000, 10000));
    }
}
