@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

<PageTitle>Spur</PageTitle>

<h1>Hello, @Athlete?.Name</h1>

<DevTools Athlete="@Athlete" />

<ActivityFeed AthleteId="@Athlete?.Id" />

@inject AuthenticationStateProvider Auth
@inject IAthleteService AthleteService
@code {
    private Athlete? Athlete;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await Auth.GetAuthenticationStateAsync();

        string athleteIdStr = authenticationState.User.FindFirst(
            ClaimTypes.NameIdentifier)?.Value ?? string.Empty;

        if (int.TryParse(athleteIdStr, out int athleteId))
        {
            Athlete = await AthleteService.GetAthleteByIdAsync(athleteId);
        }
    }
}
