@typeparam T

<div class="ButtonGroup">
    @foreach (T item in Items)
    {
        <button type="button"
                class="@GetButtonCssClass(item) mb-2"
                @onclick="() => HandleButtonClick(item)">
            @(DisplayFunc?.Invoke(item) ?? item?.ToString())
        </button>
    }
</div>
