.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.page[data-bs-theme="light"] {
  background-color: #eff6fe;
}

main {
  flex: 1;
}

.sidebar {
  background-color: #222;
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}
