.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 380px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.page[data-bs-theme="light"] {
  background-color: #fafafa;
}

main {
  flex: 1;
  overflow: hidden;
}

.sidebar {
  background-color: #222;
}

@media (min-width: 801px) {
  .page {
    flex-direction: row;
  }

  .sidebar {
    width: 270px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 800px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
  }

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
