.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.page[data-bs-theme="light"] {
  background-color: #eff6fe;
}

main {
  flex: 1;
}

.sidebar {
  background-color: #222;
}

@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 640px) {
  .sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    width: 100%;
    height: auto; /* Adjust based on your content */
    z-index: 1000; /* Ensure sidebar is above other content */
  }

  main {
    padding-top: 60px; /* Adjust this value based on the actual height of your sidebar */
  }
}
