@inherits LayoutComponentBase

<PageTitle>Tevling</PageTitle>

@if (ThemeSet)
{
    <div class="page" data-bs-theme="@Theme">
        <div class="sidebar d-flex flex-column">
            <NavMenu OnThemeChange="OnThemeChange"/>
        </div>
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
}
