.modal-content {
  border: none;
}

.modal {
  z-index: 2000;
}

.modal-backdrop-local {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.15s linear;
  z-index: 0;
}

.modal.show .modal-backdrop-local {
  opacity: 0.5;
}

.modal-dialog {
  position: relative;
  z-index: 1;
}

.modal-header {
  border: none;
}

.modal-body {
  border: none;
  font-weight: 300;
}

.modal-footer {
  border: none;
  padding: 1rem;
}

.page[data-bs-theme="dark"] .modal-content {
  background-color: #222;
}

.page[data-bs-theme="light"] .modal-content {
  background-color: white;
}
