.navbar-toggler {
  border: none;
  font-size: 3rem;
  color: #dee2e6;
  transition: transform 0.3s ease;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

.logo {
  height: 4rem;
  width: 11rem;
}

.user-info {
  color: #d7d7d7;
  font-weight: 300;
  font-size: smaller;
  letter-spacing: 0.2rem;
}

.divider {
  color: #737373;
}

.nav-item {
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  font-variant: all-small-caps;
  font-weight: 300;
  font-size: large;
}

.nav-item ::deep a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav-item ::deep a.active {
  background-color: black;
  border-radius: 0.8rem;
  color: white;
}

.nav-item ::deep a:hover {
  background-color: black;
  border-radius: 0.8rem;
  color: white;
}

@media (min-width: 801px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .top-row {
    padding: 1.5rem;
  }
}

@media (max-width: 801px) {
  .top-row {
    padding-left: 1rem;
  }
}

.strava-icon {
  background-image: url("../api_logo_pwrdBy_strava_horiz_gray.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 169px;
  height: 32px;
  align-self: center;
}
