@inherits LayoutComponentBase

<PageTitle>Spur</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h4>@Athlete?.Name</h4><a href="/profile"><Avatar Url="@Athlete?.ImgUrl" Size="30" /></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@inject IAthleteService AthleteService

@code {
    private Athlete? Athlete;

    protected override async Task OnInitializedAsync()
    {
        Athlete = await AthleteService.GetCurrentAthlete();
    }
}
