@using Microsoft.FeatureManagement;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Spur</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="challenges">
                <span class="oi oi-timer" aria-hidden="true"></span> Challenges
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="athletes">
                <span class="oi oi-people" aria-hidden="true"></span> Athletes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
@if (@FeatureGate) {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dev">
                <span class="oi oi-cog" aria-hidden="true"></span> Dev
            </NavLink>
        </div>
}
    </nav>
</div>

@inject IFeatureManager FeatureManager
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool FeatureGate;

    protected override async Task OnInitializedAsync()
    {
        if (await FeatureManager.IsEnabledAsync("DevController"))
        {
            FeatureGate = true;
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
