.activity-card {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.athlete-photo {
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: fit-content;
}

.activity-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.activity-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.athlete-name {
    margin: 0;
    font-size: 0.8rem;
}

.activity-time {
    margin: 0;
    font-size: 0.7em;
    font-style: italic;
}

.activity-card-body {
    overflow: hidden;
}

.activity-title {
    margin: 0;
    font-size: 0.9rem;
}

.activity-description {
    margin: 0;
    font-size: 0.7rem;
}
