<div class="form-check form-switch d-flex cg-3 align-items-center">
    <span class="oi oi-sun" />
    <input @bind="IsDarkMode" class="form-check-input" type="checkbox" role="switch" />
    <span class="oi oi-moon" />
</div>
